name: Tests

on: [push, pull_request, workflow_dispatch]

permissions: {}

jobs:
  lint:
    name: Lint Code Base

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      statuses: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Load super-linter env variables
        run: |
          cat .github/super-linter.env >> "$GITHUB_ENV"

      - name: Run Super-Linter
        uses: super-linter/super-linter@v8
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  test-pyregex-utils:
    name: Test pyregex-utils

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      statuses: write

    defaults:
      run:
        working-directory: ./pyregex-utils

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install -r requirements-dev.txt

      - name: Run Tests
        run: |
          python -m pytest -v --doctest-modules --cov-report markdown

      - name: Add markdown summary
        run: |
          echo "# Test Coverage Summary" >> "$GITHUB_STEP_SUMMARY"
          cat coverage.md >> "$GITHUB_STEP_SUMMARY"
